<h1>Directory: {{current_folder_path}}</h1>
{%if parent_folder%}
<a href="/documents/{{parent_folder.folder_path}}">Return to parent folder</a>
{%endif%}
<ul>Folders:
	{% for sub_folder in sub_folders %}
	<li> <a href="/documents/{{sub_folder.folder_path}}">{{ sub_folder.name }}</a>
		<form action = "/documents/{{current_folder_path}}" method = "post">
			{% csrf_token %}<input type = "submit" value = "Delete" name = "{{ sub_folder.id }}"/>
			</form>
			</li>
	{% endfor %}		
Files:
	{% for sub_file in sub_files %}
	<li> <a href="/documents/{{current_folder_path}}&file={{sub_file.file_name}}">{{ sub_file.file_name }}</a>
		</form>
	</li>
	{% endfor %}
<form action = "/documents/{{current_folder_path}}" method = "post">
	{% csrf_token %}
	Add folder: <input type = 'text' name='new_folder_name'/>
<input type = "submit" value = "Create"/>
</form> 
<form enctype="multipart/form-data" action = "/documents/{{current_folder_path}}" method = "post">
	{% csrf_token %}
	Add file <input type = "file" name = "file" size = 50/>
	<input type = "submit" name = "submit" value = "Upload"/>
</form>
{%if open_file%}
<form action = "/documents/{{current_folder_path}}" method = "post">
	{% csrf_token%}
	<input type = "submit" name = "close_file" id = "{{open_file}}" value = "Close file"/>
</form>
<embed src = "{{MEDIA_URL}}{{open_file}}" height = 500 width = 500/>
{%endif%}

<form action = "{{current_path}}" method = "post"> {% csrf_token %}
Add comment: <input type = 'text' name = 'comment' size = 1000/>
<input type = "submit" name = "submit_comment" value = "Write">
</form>
{%if relevant_comments%}
Comments:
{% for comment in relevant_comments%}
<li>By user {{comment.created_by}}: {{comment.content}}</li>
{%endfor%}
{% endif%}